{% load static %}
<div class="card"
    style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
    <div class="card-content">
        <h3 class="title is-5 has-text-weight-normal">Comments</h3>
<div id="vcomments"></div>
       {% comment %} <script src="{% static 'blog/js/av-min.js'%}"></script> {% endcomment %} 
        <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
        <script>
            new Valine({
                el: '#vcomments',
                notify: false,
                verify: false,
                app_id: 'AfwKvtV0D6MfRSz2S6WUxU4h-gzGzoHsz',
                app_key: 'fhlUFSu9mbazFXaDUXtvpsMI',
                placeholder: '说点什么吧'
            });
        </script>

    </div>
</div>
